body{
	background-color: navy;
	width: 980px;
	margin: auto;
}

#cadre_saisie {
	width:420px;
	float:left;
	padding: 10px;
	text-align: center;	
	background-color: aliceblue;
	border: 2px solid RoyalBlue;
}

#cadre_saisie  p {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color:navy;
}

#cadre_saisie li {
	text-align: left;	
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color:navy;
}

#cadre_affichage {
	padding: 10px;
	margin-left: 445px;
	text-align: center;	
	background-color: PaleGoldenrod;
	border: 2px solid DarkGreen;
}

#cadre_affichage li {
	text-align: left;	
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color:navy;
}

#cadre_affichage p {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color:navy;
}
 
legend {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color:navy;
}
 
label {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color:navy;
}

.nb {
	   text-align: right;
}

.titre {
	border-bottom: 1px solid RoyalBlue;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight:bold;
	color:DeepSkyBlue;
}
