/********** Balises **********/
body {
	max-width: 800px;
	margin : auto;
	background-color : CornflowerBlue;
	color : navy;
	text-align: justify;
	font-size:100%;
}

header {
	border-bottom : solid navy 2px;
	background-color : aliceblue;
	font-family: Helvetica,sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align : center;
	text-shadow: 2px 2px 2px CornflowerBlue;
	padding:0.4em;
}

footer {
	clear : both;
	display : block;
	border-top : solid  navy 2px;
	background-color : aliceblue;
	font-family: Helvetica,sans-serif;
	font-size: 0.6em;
	font-weight: bold;
	text-align : center;
	padding:0.25em;
}

h1 {
	text-transform:uppercase;
	margin:0;
	padding:4px;
	font-size:130%;
}

table {
	border : solid black 2px;
	border-collapse: collapse;
	margin : auto;
	margin-bottom : 20px;
	background-color : white;
	color : black;
	font-family: Helvetica;
}

table caption {
	font-size: 0.9em;
	font-family: serif;
	font-style: italic;
}

thead {
	border : solid navy 2px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	background-color : navy;
	color : aliceblue;
}

tbody {
	border : solid navy 1px;
	font-size: 0.9em;
	font-weight: normal;
	text-align: left;
}

tfoot {
	border : solid navy 2px;
	text-align: center;
	font-size: 0.6em;
	font-weight: lighter;
	font-style: italic;
	background-color : CornflowerBlue;
}

th, td {
	border : solid navy 1px;
	border-collapse: collapse;
	padding : 5px;
}

form {
	text-align: left;
}
form table{
	border-width: 0px;
	margin-left: 0px;
}
form table td{
	border-width: 0px;
	background-color : aliceblue;
}

/************ Bloc de corps ***************/
#main {
	padding: 0;
}

#corps {
	float:right;
	min-height:300px;
	overflow:auto;
	width:70%;
	background-color : aliceblue;
}

#corps p {
	padding:5px;
}

/************ Bloc de menu ****************/
nav {
	float: left;
	width:30%;
	background-color : navy;
	color:aliceblue;
	padding: 0;
	margin:0;
}

menu {
	padding:0;
	margin:0;
	text-align: center;
}

menu li {
	list-style-type:none;
	font-family: Helvetica,sans-serif;
	font-size: 0.9em;
}

menu a {
	display:block;
	text-decoration:none;
	line-height:200%;
	color:aliceblue;
	border-bottom:solid aliceblue 1px;
}

menu a:hover {
	color:aliceblue;
	background-color : CornflowerBlue;
}

/*********** Classes ****************/
.degrade {
    background-repeat: no-repeat;
	background: -moz-linear-gradient(top, navy, PowderBlue); /* Pour Mozilla */
		 -moz-background-clip: padding-box;
		-moz-text-decoration-color: transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(navy), to(PowderBlue)); /* pour webkit */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='navy', endColorstr='PowderBlue'); /* pour IE */
}

.reflection {
	-webkit-box-reflect: right -10px -webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.4, transparent), to(white));
}

.casenoire {
	background-color : black;
	border : black;
}

.caseLettre {
	background-color : white;
	color : white;
	border-color : black;
}

.caseLettreCorrection {
	background-color : white;
	color : black;
	border : black;
}

.aDroite {
	text-align: right;
}

.aGauche {
	text-align: left;
}

.auCentre {
	text-align: center;
}


/************ logo ****************/
#logo {
	float:left;
	border-width: 0px;
}

/************ Bouton ****************/
button{
	cursor: pointer;
	text-decoration:none;
	border: 1px solid rgb(153, 153, 153);
	padding: 10px 10px 10px 10px;
	color:rgb(0, 0, 0);
	font-size:20px;
	font-family:arial, serif;
	text-shadow: 0px 0px 5px rgb(255, 255, 255);
	font-size: 20px;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	box-shadow:inset -2px -2px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:inset -2px -2px 6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:inset -2px -2px 6px rgba(0, 0, 0, 0.4);
	background-color: rgb(255, 0, 0);
	background-image:linear-gradient(-54.46deg, rgb(0, 255, 255), rgba(204, 255, 255, 0.95) 45%, rgb(153, 255, 153));
	background-image:-webkit-gradient(linear, 50% 5%, 100% 75%, from(rgb(0, 255, 255)), color-stop(0.45, rgba(204, 255, 255, 0.95)), to(rgb(153, 255, 153)));
	background-image:-moz-linear-gradient(-54.46deg, rgb(0, 255, 255), rgba(204, 255, 255, 0.95) 45%, rgb(153, 255, 153));
}
button:hover{
	cursor: pointer;
	text-decoration:none;
	border: 1px solid rgb(153, 153, 153);
	padding: 10px 10px 10px 10px;
	color:rgb(0, 0, 0);
	font-size:20px;
	font-family:arial, serif;
	text-shadow: 0px 0px 5px rgb(255, 255, 255);
	font-size: 20px;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	box-shadow:inset -2px -2px 6px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:inset -2px -2px 6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:inset -2px -2px 6px rgba(0, 0, 0, 0.4);
	background-color: rgb(255, 0, 0);
	background-image:linear-gradient(-54.46deg, rgb(153, 255, 255), rgba(204, 255, 255, 0.95) 45%, rgb(0, 255, 255));
	background-image:-webkit-gradient(linear, 50% 5%, 100% 75%, from(rgb(153, 255, 255)), color-stop(0.45, rgba(204, 255, 255, 0.95)), to(rgb(0, 255, 255)));
	background-image:-moz-linear-gradient(-54.46deg, rgb(153, 255, 255), rgba(204, 255, 255, 0.95) 45%, rgb(0, 255, 255));
}
button:active{
	cursor: pointer;
	text-decoration:none;
	border: 1px solid rgb(153, 153, 153);
	padding: 10px 10px 10px 10px;
	color:rgb(0, 0, 0);
	font-size:20px;
	font-family:arial, serif;
	text-shadow: 0px 0px 5px rgb(255, 255, 255);
	font-size: 20px;
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	box-shadow:inset -1px -1px 3px rgba(0, 0, 0, 0.85);
	-moz-box-shadow:inset -1px -1px 3px rgba(0, 0, 0, 0.85);
	-webkit-box-shadow:inset -1px -1px 3px rgba(0, 0, 0, 0.85);
	background-color: rgb(255, 0, 0);
	background-image:linear-gradient(-54.46deg, rgba(153, 255, 255, 0.25), rgba(153, 255, 0, 0.95) 45%, rgb(0, 255, 255));
	background-image:-webkit-gradient(linear, 50% 5%, 100% 75%, from(rgba(153, 255, 255, 0.25)), color-stop(0.45, rgba(153, 255, 0, 0.95)), to(rgb(0, 255, 255)));
	background-image:-moz-linear-gradient(-54.46deg, rgba(153, 255, 255, 0.25), rgba(153, 255, 0, 0.95) 45%, rgb(0, 255, 255));
}


/************ Media-Query ****************/
/* Pour faibles résolutions */
@media screen and (max-width: 480px) {
	#corps, nav {
		clear:both;
		width:100%;
	}
	menu li {
		text-align:center;
	}
}

/* Pour moyennes résolutions */
@media screen and (max-width: 650px) and (min-width: 481px) {
	#corps, nav {
		clear:both;
		width:100%;
	}
	menu {
		overflow:auto;
	}
	menu li {
		float:left;
		width:24%;
		text-align:center;
		border-left:solid aliceblue thin;
		border-bottom-style: none;
	}
	menu a {
		border-left:solid aliceblue thin;
		border-bottom-style: none;
	}
}

/* Pour écrans plus larges */
@media screen and (min-width: 651px) {
	nav {
		width:20%;
	}
	#corps {
		width:80%;
	}
}
