#cadre {
	width: 320px;
	border: 10px dotted green;
	text-align: left;
	padding: 5px;
	margin: auto;
}

h1 {
	background-color: yellow;
	color: green;
	border: 2px dotted cyan;
}

.gras {
	font-weight: bold;
	color: red;
}

ul{
	text-align: left;
}